<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <link rel="icon" href="/favicon.png">
  <title>Mikkel Staub Svensson</title>
  
  {% block css %}
    <link rel="stylesheet" href="{{ get_url(path='style.css', trailing_slash=false) | safe }}"/>
  {% endblock css %}
</head>

<body>
  <section class="section">
    <div class="container">
      {% block content %} {% endblock %}
    </div>
  </section>
</body>

</html>
