{% extends "base.html" %}

{% block content %}
<h1 class="title">
  This is my blog made with Zola.
</h1>
<p>Click <a href="{{ get_url(path='@/docs/_index.md') }}">here</a> to see my posts.</p>
{% endblock content %}
